<% @title = @user.fullname %>

<p>username : <%= @user.username %></p>
<p>email : <%= @user.email %></p>
<p>member since : <%= @user.created_at %></p>

<%= link_to 'Edit profile', edit_user_path(@user.id) if current_user == @user %>
